<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stocky{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                {% if current_user.admin %}
                    <li><a href="{{ url_for('main.admin') }}">Admin Dashboard</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <a href="{{ url_for('main.stocks') }}" class="navbar-item">Stocks</a>
                    <li><a href="{{ url_for('main.transactions') }}">Profile</a></li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
