<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stocky{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-primary">
        <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin %}
                            <a href="{{ url_for('main.admin_page') }}" class="navbar-item is-active">Admin Dashboard</a>
                        {% else %}
                            <a href="{{ url_for('main.index') }}" class="navbar-item">Home</a>
                            <a href="{{ url_for('main.stocks') }}" class="navbar-item">Stocks</a>
                            <a href="{{ url_for('main.transactions') }}" class="navbar-item">Profile</a>
                        {% endif %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    <span>{{ message }}</span>
                    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript for closing flash messages -->
    <script>
        setTimeout(function() {
            let flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(msg) {
                msg.classList.add('fade-out');
                setTimeout(function() {
                    msg.remove(); // Remove the message after fading out
                }, 1000); // 1 second for fade out
            });
        }, 3000); // Flash message disappears after 3 seconds
    </script>
</body>
</html>
